@import url('https://fonts.googleapis.com/css2?family=Jersey+15+Charted&family=Jersey+20&display=swap');

:root {
    --branco: white;
    --cor-de-fundo: #000000;
    --fundo-senha: #000000;
    --fundo-texto: #000000;
    --borda: #00ff22;
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;

}

* {
    font-weight: 400;
}

body {
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00ff22;
}

.titulo-principal {
    border: 3px #00ff22 dotted;
    border-radius: 500px;
    margin-bottom: 05px;

    font-family: var(--roboto-mono);
    font-size: 50px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00ff22;
}

.titulo-secundario {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 24px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00ff22;
}

.hacker {

    text-align: center;

}


.conteudo-titulo {
    text-align: center;
    margin-top: 80px;
}

.conteudo-senha {
    margin-top: 10px;
    background: var(--fundo-senha);
    padding: 24px;
    border: 3px solid var(--borda);
    border-radius: 10px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#campo-senha {
    background-color: #00ff22;
    border: 3px #00ff22 dotted;
    border-radius: 10px;
    color: var(--branco);
    font-family: var(--roboto-mono);
    font-size: 40px;
    width: 70%;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(0, 0%, 0%);
}

#campo-senha:focus {
    outline: none;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.conteudo {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parametro {
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 32px;
    padding: 24px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parametro-titulo {
    font-family: var(--roboto-mono);
    font-size: 28px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parametro-senha__titulo {
    font-size: 24px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parametro-coluna__senha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parametro-senha {
    width: 50%;
    margin: 0 auto;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parametro-senha-botoes {
    display: flex;
    justify-content: center;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    ;
}

.parametro-senha__botao {
    background-color: var(--fundo-texto);
    color: var(--branco);
    border: 2px solid var(--borda);
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00ff22;
}

.parametro-senha__texto {
    padding: 24px;
    border-top: 2px solid var(--borda);
    border-bottom: 2px solid var(--borda);
    margin: 0;
    font-size: 24px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

label {
    font-size: 30px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #00ff22;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.barra {
    background-color: var(--fundo-senha);
    height: 30px;
    width: 100%;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
}

.forca {
    height: 30px;
    position: relative;
    bottom: 30px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0px;
}

.fraca {
    width: 25%;
    background-color: #E71B32;
    border-radius: 50px;
}

.media {
    background-color: #FAF408;
    width: 50%;
    border-radius: 50px;
}

.forte {

    background-color: green;
    width: 100%;
    border-radius: 50px;
}

.parametro-senha-textos {
    display: flex;
    justify-content: space-around;
    font-family: "Jersey 20", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 26px;
    border-bottom: 3px solid;
    color: #00ff22;
    margin-top: 0px;
}

.redes-sociais-contato {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 50px;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-left: 30px;
    border: #00ff22 solid;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
}

.container img {

    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
}



@media screen and (min-width: 768px) {
    .parametro-coluna__senha {
        flex-direction: row;
    }
}
